body {
    background: repeating-linear-gradient(0deg, rgba(5,5,5,1) 0%, rgba(34,34,34,1) 20%, rgba(43,43,43,1) 40%, rgba(74,74,74,1) 100%);
    background-attachment: fixed;
}

.search-bar{
    width: 250px !important;
    height: 25px !important;
    border: none !important;
    border-radius: 20px !important;
}

.nav-profile-icon-container{
    padding-left: 0 !important;
}

.nav-profile-picture{
    width: 25px;
    height: 25px;
    left: 50% !important;
    border-radius: 50% !important;
    border: none;
}

.feed {
    position: relative;
    margin: auto;
    width: fit-content;
    height: 100%;
    border: 1px solid black;
}

.bottom5 {
  margin-bottom:5%;
}

.activity-feed-headline {
  text-align: center;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2.875em;
}