body {
    /*background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 65%, rgba(65,65,65,1) 100%);*/
    background: #303030 !important;
    background-image: url('images/background_feed.jpg') !important;
    background-attachment: fixed !important;
}

.search-bar{
    width: 250px !important;
    height: 25px !important;
    border: none !important;
    border-radius: 20px !important;
}

.nav-profile-icon-container{
    padding-left: 0 !important;
}

.nav-profile-picture{
    width: 25px;
    height: 25px;
    left: 50% !important;
    border-radius: 50% !important;
    border: none;
}

.link:hover{
    cursor: pointer;
}

.postDiv{
    background: #303030;
}

.feed {
    position: relative;
    margin: auto;
    top: 30px;
    width: 50%;
    height: 100%;
    left: 50%;
    transform: translateX(-100%);
    background: #404040;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
}