body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(34,34,34,1) 20%, rgba(43,43,43,1) 40%, rgba(74,74,74,1) 100%);
}

.search-bar{
    width: 250px !important;
    height: 25px !important;
    border: none;
    border-radius: 20px !important;
}

.nav-profile-icon-container{
    padding-left: 0 !important;
}

.nav-profile-picture{
    width: 25px;
    height: 25px;
    left: 50% !important;
    border-radius: 50% !important;
    border: none;
}

.feed {
    position: relative;
    background-color: #FFFFFF !important;
    margin: auto;
    top: 30px;
    width: 50%;
    height: 100%;
    left: 50%;
    transform: translateX(-100%);
    border: 1px solid black;
}

.postDiv{
    background: rgba(51, 51, 51, 1.0);
    border: 1px solid rgba(250, 250, 250) !important;
}