body {
    background-color: #333333 !important;
}

.search-bar{
    border: none;
    border-radius: 20px !important;
}

.nav-profile-icon-container{
    padding-left: 0 !important;
}

.nav-profile-picture{
    width: 25px;
    height: 25px;
    left: 50% !important;
    border-radius: 50% !important;
    border: none;
}

.feed {
    position: relative;
    background-color: #FFFFFF !important;
    margin: auto;
    top: 30px;
    width: 50%;
    height: 100%;
    left: 50%;
    transform: translateX(-100%);
    border: 1px solid black;
}