body {
    background: #b5b5b5;
    background-image: url("images/login-background.jpg");
    background-attachment: fixed;
}

header {
    opacity: 0.5;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    background: #000000;
    overflow: auto;
}

header img {
    display:inline;
}

header p{
    text-align: center;
    color: #FFFFFF;
    display: inline;
}

.center {
    color: #FFFFFF;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1 {
    padding: 100px;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button {
    background: #1DB954;
    border-radius: 50px;
    border: none;
    width: 200px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    opacity: 0.5;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    background: #000000;
    overflow: auto;
}

footer p{
    text-align: center;
    color: #FFFFFF;
}